body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:93px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:58px;
  background:inherit;
  background-color:rgba(219, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:58px;
}
#u41 {
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:58px;
  background:inherit;
  background-color:rgba(219, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:0px;
  top:58px;
  width:93px;
  height:58px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 108, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:0px;
  top:116px;
  width:93px;
  height:58px;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:58px;
  background:inherit;
  background-color:rgba(219, 238, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:0px;
  top:174px;
  width:93px;
  height:58px;
}
#u47 {
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  word-wrap:break-word;
}
